<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shellapplication">


    <application
        android:name="com.example.shellapplication.ProxyApplicationRes"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/App_Name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, android:label">
        <meta-data
            android:name="app_name"
            android:value="com.example.shellapplication.MyApplication" />
        <meta-data
            android:name="app_version"
            android:value="${VERSION_NAME}" />
        <meta-data
            android:name="app_package"
            android:value="${applicationId}" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".second.SecondActivity"
            android:exported="false" />
    </application>

</manifest>