<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shellapplication">


    <application
        android:name="com.proxygtzbabc.core.ProxyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, android:label">
        <meta-data
            android:name="app_name"
            android:value="com.appgtzbabc.MiApplication" />
        <meta-data
            android:name="app_version"
            android:value="${VERSION_NAME}" />
        <meta-data
            android:name="app_package"
            android:value="${applicationId}" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>